<div class="disney-cocktails_container">
    <div class="disney-cocktails_categories">
        <button class="cocktails_categorie_button"
        *ngFor="let item of this.categories"
        (click)="this.getCocktails(item.strCategory)"
        >{{item.strCategory}}</button>
    </div>
    <div *ngFor="let cocktail of cocktails">
        <h3>{{ cocktail.strDrink }}</h3>
        <img width="60px" height="60px" [src]="cocktail.strDrinkThumb" [alt]="cocktail.strDrink" (click)="addIframe( cocktail.strDrink,'iframe_container_'+cocktail.idDrink)">
        <div [id]="'iframe_container_'+cocktail.idDrink"></div>
    </div> 
</div>
  